
.innercontainer {
	width:700px;
	xbackground-color:blue;
	padding-left:160px;
	text-align:center;
	height:200px;
}

.profilepic {
	width:250px;
	height:250px;
	margin-top:0px;
}

#leftprofilepicframe {
	xbackground-color:pink;
	float:left;
}

#rightprofilepicframe {
	xbackground-color:purple;
	float:right;
}

.pictureframe {
	width:290px;
	height:290px;
}

.picclickedright {
	background-color:green;
	xwidth:350px;
}

.picclickedwrong {
  background-color:red;	
}

.hidden {
	visibility:hidden;
}

.nodisplay {
	display:none;
}

.profilepicinnerframe {
	margin-left:20px;
	margin-top:20px;
	width: 250px;
	height:250px;
}

.leftcolumn {
	xbackground-color:red;
	float:left;
	width:250px;
	height:300px;
}

.rightcolumn {
	xbackground-color:orange;
	width:200px;
	margin-left:200px;
}

.personjob {
	background-color:#eee;
	width:160px;
	height:60px;
	padding:20px;
	font-size:18px;
	margin-bottom:20px;
	cursor: pointer;
	-moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    border-radius: 10px;
}

.personcompany {
	background-color:#eee;
	width:160px;
	height:60px;
	padding:20px;
	font-size:18px;
	margin-bottom:20px;
	cursor: pointer;
	-moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    border-radius: 10px;
}

.beneathpictext {
	font-size:19px;
	margin-top:20px;
}

.correctbutton {
	background-color:green;
}

.incorrectbutton {
	background-color:red;
}
